@{
	DateTime now = DateTime.Now;
	var currentYear = now.ToString("yyyy");
	var previousYear = now.AddYears(-1);
}
<footer id="footer" class="mt-0">
	<div class="container">
		<div class="footer-ribbon">
			<span>Get in Touch</span>
		</div>
		<div class="row py-5 my-4">
			<div class="col-md-7 col-lg-4 mb-5 mb-lg-0 pt-3">
				<h5 class="text-3 mb-3">ABOUT US</h5>
				<p>Labwox provides cutting-edge solutions to support research and learning in the physical sciences.</p>
				<p class="mb-0">We provide leading edge learning content targeted at professionals and scientists who need to upgrade their proficiency both in industry and academics....</p>
				<p class="mb-0"><a href="@Url.Action("About","Home")" class="btn-flat btn-xs text-color-light p-relative top-5"><strong class="text-2">VIEW MORE</strong><i class="fas fa-angle-right p-relative top-1 pl-2"></i></a></p>
			</div>
			<div class="col-md-5 col-lg-3 mb-5 mb-lg-0 pt-3">
				<h5 class="text-3 mb-3 pb-1">CONTACT US</h5>
				<p class="text-8 text-color-light font-weight">(+234)8090870364</p>
				<ul class="list list-icons list-icons-lg">
					<li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i><p class="m-0">2B Awori Close, Akora Villas off Adeniyi Jones, Ikeja, Lagos</p></li>
					<li class="mb-1"><i class="far fa-envelope text-color-primary"></i><p class="m-0"><a href="mailto:mail@example.com">abdulwaheedmahmoodahmad6@gmail.com</a></p></li>
				</ul>
				<ul class="social-icons mt-4">
					<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
					<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
					<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
				</ul>
			</div>
			<div class="col-lg-5 pt-3">
				<h5 class="text-3 mb-3 pb-1">NEWSLETTER</h5>
				<form id="contactForm" class="contact-form" action="https://preview.oklerthemes.com/porto/7.6.0/php/contact-form.php" method="POST">
					<input type="hidden" value="Contact Form" name="subject" id="subject">
					<div class="contact-form-success alert alert-success d-none" id="contactSuccess">
						Message has been sent to us.
					</div>

					<div class="contact-form-error alert alert-danger d-none" id="contactError">
						Error sending your message.
						<span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
					</div>

					<div class="form-group">
						<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control py-2" placeholder="Your Email Address..." name="email" id="email" required>
					</div>
					<div class="form-row">
						<div class="form-group col">
							<input type="submit" value="SUBMIT" class="btn btn-xl btn-outline btn-primary text-1 font-weight-bold text-uppercase" data-loading-text="Loading...">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container py-2">
			<div class="row py-4">
				<div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
					<a href="index.html" class="logo pr-0 pr-lg-3">
						<img alt="Labwox" src="~/porto/main/assets/img/logo-light.png">
					</a>
				</div>
				<div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
					<p>© Copyright @currentYear All Rights Reserved.</p>
				</div>
				<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
					<nav id="sub-menu">
						<ul>
							@*<li>
								<i class="fas fa-angle-right"></i>
								<a href="page-faq.html" class="ml-1 text-decoration-none">
								FAQ's
								</a>
								</li>
								<li>
								<i class="fas fa-angle-right"></i>
								<a href="sitemap.html" class="ml-1 text-decoration-none">
								Sitemap
								</a>
								</li>*@
							<li>
								<i class="fas fa-angle-right"></i>
								<a href="@Url.Action("Contact","Home")" class="ml-1 text-decoration-none">
									Contact Us
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>